IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetBaoCaoChiTiet')
   exec('CREATE PROCEDURE spGetBaoCaoChiTiet AS BEGIN SET NOCOUNT ON; END')
 GO
ALTER PROCEDURE [dbo].[spGetBaoCaoChiTiet]
	@ID_TO BIGINT = -1,
	@MS_MAY NVARCHAR(30) ='-1',
	@TU_NGAY DATETIME = '2020-03-02 14:00:00.000',
	@DEN_NGAY DATETIME = '2022-03-02 14:00:00.000',
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0,
	@bLoaiBC BIT = 0
AS
    BEGIN
	--@bLoaiBC = 0 BÁO CÁO GỘP
	--@bLoaiBC = 1 BÁO Chi tiết
	--CONVERT(NUMERIC(18,2), ( B.TH / B.NPH ) * 100) AS PE,
	--CONVERT(NUMERIC(18,2),( B.TH / B.GPH ) * 100) AS OEE,
	--CONVERT(NUMERIC(18,2),( B.DT / B.GPH ) * 100) AS DTP,
	DECLARE @BaseOUMName  NVARCHAR(50) = (SELECT TOP 1 UOMName  FROM dbo.UOM WHERE BasedUOM =1)
	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(GETDATE(),@username,'-1',-1,-1,'-1','-1','-1', @NNgu) A
	 IF @bLoaiBC = 0
	BEGIN
	SELECT D.OperatorName,C.TEN_MAY + '('+  B.MS_MAY + ')' AS TEN_MAY,E.ItemName,SUM(B.ActualQuantity) AS ActualQuantity,@BaseOUMName AS BaseOUMName,
	CONVERT(NUMERIC(18,2),SUM(B.GPH)) AS GPH,
	CONVERT(NUMERIC(18,2),SUM(B.TH)) AS TH,
	CONVERT(NUMERIC(18,2),SUM(B.DT)) AS DT,
	CONVERT(NUMERIC(18,2),SUM(B.EL)) AS EL,
	CONVERT(NUMERIC(18,2),SUM(B.NPH)) AS NPH, 
	CONVERT(NUMERIC(18,2),(SUM(B.TH) /SUM(B.NPH)) * 100) AS PE,
	CONVERT(NUMERIC(18,2),(SUM( B.TH) / SUM(B.GPH )) * 100) AS OEE,
	CONVERT(NUMERIC(18,2),(SUM(B.DT) /SUM(B.GPH)) * 100) AS DTP,
	CONVERT(NUMERIC(18,2),(SUM(B.EL) /SUM(B.NPH)) * 100) AS ELP,
	CONVERT(NUMERIC(18,2),CONVERT(NUMERIC(18,2),SUM(B.EL) - ( SUM(NPH) - SUM(B.TH) ))) AS ELV 
	FROM dbo.MGetApiOEE(-1,@ID_TO,@MS_MAY,@TU_NGAY,@DEN_NGAY,@USERNAME, @NNgu) B
	INNER JOIN #MAY C ON C.MS_MAY = B.MS_MAY
	INNER JOIN dbo.Operator D ON B.OperatorID = D.ID	
	INNER JOIN dbo.Item E ON E.ID = B.ItemID
	GROUP BY  D.OperatorName,C.TEN_MAY,B.MS_MAY,E.ItemName
	END
	ELSE
	BEGIN
	SELECT D.OperatorName,C.TEN_MAY + '('+  B.MS_MAY + ')' AS TEN_MAY,B.StartTime,B.StandardOutput,[dbo].[fnGetDVTCongSuat](B.ItemID) AS CapacityUOM,B.ItemID,E.ItemName,SUM(B.ActualQuantity) AS ActualQuantity,@BaseOUMName AS BaseOUMName,
	CONVERT(NUMERIC(18,2),SUM(B.GPH)) AS GPH,
	CONVERT(NUMERIC(18,2),SUM(B.TH)) AS TH,
	CONVERT(NUMERIC(18,2),SUM(B.DT)) AS DT,
	CONVERT(NUMERIC(18,2),SUM(B.EL)) AS EL,
	CONVERT(NUMERIC(18,2),SUM(B.NPH)) AS NPH, 
	CONVERT(NUMERIC(18,2),(SUM(B.TH) /SUM(B.NPH)) * 100) AS PE,
	CONVERT(NUMERIC(18,2),(SUM( B.TH) / SUM(B.GPH )) * 100) AS OEE,
	CONVERT(NUMERIC(18,2),(SUM(B.DT) /SUM(B.GPH)) * 100) AS DTP,
	CONVERT(NUMERIC(18,2),(SUM(B.EL) /SUM(B.NPH)) * 100) AS ELP,
	CONVERT(NUMERIC(18,2),CONVERT(NUMERIC(18,2),SUM(B.EL) - ( SUM(NPH) - SUM(B.TH) ))) AS ELV 
	FROM dbo.MGetApiOEE(-1,@ID_TO,@MS_MAY,@TU_NGAY,@DEN_NGAY,@USERNAME, @NNgu) B
	INNER JOIN #MAY C ON C.MS_MAY = B.MS_MAY
	INNER JOIN dbo.Operator D ON B.OperatorID = D.ID	
	INNER JOIN dbo.Item E ON E.ID = B.ItemID
	GROUP BY  D.OperatorName,C.TEN_MAY,B.MS_MAY,B.StartTime,B.StandardOutput,B.ItemID,E.ItemName
	END
	END	

	
