

ALTER PROCEDURE [dbo].[spNguyenNhanNgungMayByProDetails]
	@ProductionRunID BIGINT = -1,
	@MS_MAY NVARCHAR(30) ='-1',
	@TuNgay DATETIME ='2020-03-04 00:00:00.000',
	@DenNgay DATETIME ='2022-03-04 00:00:00.000',
	@NNgu INT =0
AS 
BEGIN
SELECT  A.MS_LAN,A.CaID,CASE @NNgu WHEN 0 THEN G.ItemName WHEN 1 THEN ISNULL(NULLIF (G.ItemNameA, ''), G.ItemName) 
							 ELSE ISNULL(NULLIF (G.ItemNameH, ''), G.ItemName) END  AS ItemName  ,A.MS_NGUYEN_NHAN, D.NGAY,C.CA,
        CONVERT(DATETIME, CONVERT(NVARCHAR(20), A.NGAY, 23) + ' '
        + CONVERT(NVARCHAR(20), A.TU_GIO, 24)) AS TU_NGAY,
        CONVERT(DATETIME, CONVERT(NVARCHAR(20), A.DEN_NGAY, 23) + ' '
        + CONVERT(NVARCHAR(20), A.DEN_GIO, 24)) AS DEN_NGAY, A.THOI_GIAN_SUA,A.THOI_GIAN_SUA_CHUA,
        B.TEN_NGUYEN_NHAN,A.ProductionRunDetailsID,B.Planned
FROM    dbo.THOI_GIAN_NGUNG_MAY A
INNER JOIN dbo.NGUYEN_NHAN_DUNG_MAY B ON B.MS_NGUYEN_NHAN = A.MS_NGUYEN_NHAN 
INNER JOIN dbo.CA C ON A.CaID = C.STT 
INNER JOIN dbo.THOI_GIAN_NGUNG_MAY_SO_LAN D ON D.MS_LAN = A.MS_LAN
INNER JOIN dbo.ProductionRunDetails E ON E.DetailID = A.ProductionRunDetailsID
INNER JOIN dbo.Item G ON G.ID = E.ItemID
WHERE A.MS_MAY = @MS_MAY AND D.NGAY BETWEEN @TuNgay AND @DenNgay AND (E.ProductionRunID =@ProductionRunID OR @ProductionRunID = -1)
ORDER BY TU_NGAY DESC
END


SELECT * FROM dbo.THOI_GIAN_NGUNG_MAY


