
ALTER PROCEDURE [dbo].[spGetListPareto]
    @TuNgay DATETIME ='2020-03-25 15:11:41.117',
    @DenNgay DATETIME ='2021-03-25 15:11:41.117',
	@SbtMay NVARCHAR(200) ='sBTMayadmin',
	@SbtNN NVARCHAR(200) = 'sBTNguyenNhanadmin',
    @Username NVARCHAR(100) = 'admin',
    @NNgu INT = 0
AS
BEGIN

CREATE TABLE #TEMPT_MAY (
[MS_MAY] [NVARCHAR] (30) ,
[TEN_MAY] [NVARCHAR] (250)
) ON [PRIMARY]


DECLARE @sSql NVARCHAR(4000)
SET @sSql = 'INSERT INTO #TEMPT_MAY(MS_MAY,TEN_MAY) SELECT [MS_MAY],[TEN_MAY] FROM ' + @SbtMay
EXEC (@sSql)
SET @sSql = 'DROP TABLE ' + @SbtMay
EXEC (@sSql)


CREATE TABLE #TEMPT_NN (
MS_NGUYEN_NHAN INT,
DownTimeTypeID INT,
[CauseCode] [NVARCHAR] (50) NULL,
[TEN_NGUYEN_NHAN] [NVARCHAR] (250)NULL,
) ON [PRIMARY]

SET @sSql = 'INSERT INTO #TEMPT_NN (MS_NGUYEN_NHAN,DownTimeTypeID,CauseCode,TEN_NGUYEN_NHAN) SELECT [MS_NGUYEN_NHAN],[DownTimeTypeID],[CauseCode],[TEN_NGUYEN_NHAN] FROM ' + @SbtNN
EXEC (@sSql)
set @sSql = 'DROP TABLE ' + @SbtNN
EXEC (@sSql)

SELECT A.MS_MAY,C.TEN_MAY,E.DownTimeTypeName,D.CauseCode,D.TEN_NGUYEN_NHAN,SUM(A.THOI_GIAN_SUA_CHUA) AS TONG_SO_PHUT ,COUNT(THOI_GIAN_SUA_CHUA) AS SO_LAN_XAY_RA,CONVERT(DECIMAL(18,2),AVG(A.THOI_GIAN_SUA_CHUA)) AS SO_PHUT_TB INTO #TMP
FROM dbo.THOI_GIAN_NGUNG_MAY A
INNER JOIN  #TEMPT_MAY C ON C.MS_MAY = A.MS_MAY
INNER JOIN  #TEMPT_NN D ON D.MS_NGUYEN_NHAN = A.MS_NGUYEN_NHAN
INNER JOIN  dbo.DownTimeType E ON E.ID = D.DownTimeTypeID
WHERE A.NGAY BETWEEN @TuNgay AND @DenNgay
GROUP BY A.MS_MAY,C.TEN_MAY,E.DownTimeTypeName,D.CauseCode,D.TEN_NGUYEN_NHAN
-- tổng số thời gian ngừng máy theo máy
SELECT TEN_MAY + '('+ MS_MAY+')' AS TEN_MAY,
       DownTimeTypeName,
       CauseCode,
       TEN_NGUYEN_NHAN,
       TONG_SO_PHUT,
	   CONVERT(DECIMAL(18,2),(TONG_SO_PHUT / (SELECT SUM(TONG_SO_PHUT) FROM #TMP WHERE #TMP.MS_MAY = A.MS_MAY))*100) AS PT_NGUNG_MAY,
       SO_LAN_XAY_RA,
	   SO_PHUT_TB
	   FROM #TMP A
	   ORDER BY A.MS_MAY,A.TEN_MAY,A.DownTimeTypeName,A.TEN_NGUYEN_NHAN


END


