
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetListTarget')
exec('CREATE PROCEDURE spGetListTarget AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[spGetListTarget]
	@FLAG BIT = 1,	
	@NAM INT =2022,
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0
AS 
BEGIN
	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(GETDATE(),@username,'-1',-1,-1,'-1','-1','-1', @NNgu) A

--@FLAG BIT = 0, load dữ liệu trên lưới
--@FLAG BIT = 1, tự động tính từ OEE
IF @FLAG = 0
BEGIN

IF(SELECT COUNT(*) FROM dbo.TargetOfYear WHERE [Year] = @NAM ) = 1
BEGIN
SELECT  T.MS_MAY,T.TEN_MAY,OEE,PE,EL,SpeedVar FROM (
SELECT #MAY.MS_MAY,TEN_MAY,OEE,PE,EL,SpeedVar ,0 AS STT FROM dbo.Target INNER JOIN #MAY ON #MAY.MS_MAY = Target.MS_MAY WHERE [Year] = @NAM 
UNION 
SELECT '',N'TỔNG SX',OEE,PE,EL,SpeedVar,1 AS STT FROM dbo.TargetOfYear WHERE [Year] = @NAM) AS T ORDER BY T.STT,T.TEN_MAY
END
ELSE
BEGIN
SELECT T.MS_MAY,T.TEN_MAY,OEE,PE,EL,SpeedVar FROM (
SELECT #MAY.MS_MAY,TEN_MAY,OEE,PE,EL,SpeedVar ,0 AS STT FROM dbo.Target INNER JOIN #MAY ON #MAY.MS_MAY = Target.MS_MAY WHERE [Year] = @NAM 
UNION 
	SELECT '',N'TỔNG SX', CONVERT(DECIMAL(18,2),NULL) AS OEE, CONVERT(DECIMAL(18,2),NULL) AS	PE, CONVERT(DECIMAL(18,2),NULL) AS	ELP, CONVERT(DECIMAL(18,2),NULL) AS	ELVP ,1 AS	STT)  AS T ORDER BY T.STT,T.TEN_MAY
END

END
ELSE
BEGIN
	--Lấy giá trị của năm trước  
	--kiểm tra dữ liệu năm trước có không nếu có thì lấy còn không thì lấy từ productionder

	  SELECT T.MS_MAY,TEN_MAY,OEE,PE,T.EL,T.SpeedVar FROM ( 
		SELECT A.MS_MAY,B.TEN_MAY,A.OEE,A.PE,A.EL,A.SpeedVar,0 AS STT  FROM dbo.Target A INNER JOIN #MAY B ON B.MS_MAY = A.MS_MAY WHERE [Year] = @NAM 
		UNION
	  SELECT DISTINCT A.MS_MAY,TEN_MAY, CONVERT(DECIMAL(18,2),NULL) AS	OEE, CONVERT(DECIMAL(18,2),NULL) AS	PE, CONVERT(DECIMAL(18,2),NULL) AS	EL, CONVERT(DECIMAL(18,2),NULL) AS	SpeedVar ,0 AS STT 
	  FROM dbo.ItemMay A 
	  INNER JOIN #MAY ON #MAY.MS_MAY = A.MS_MAY
	  WHERE NOT EXISTS (SELECT * FROM dbo.Target B WHERE A.MS_MAY = B.MS_MAY AND B.[Year] = @NAM)
	UNION 
	SELECT  '',N'TỔNG SX', CONVERT(DECIMAL(18,2),NULL) AS	OEE, CONVERT(DECIMAL(18,2),NULL) AS	PE, CONVERT(DECIMAL(18,2),NULL) AS	EL, CONVERT(DECIMAL(18,2),NULL) AS	SpeedVar ,1 AS	STT)  AS T ORDER BY T.STT,T.TEN_MAY
	END
	--ELSE
 --   BEGIN
	--SELECT B.MS_MAY,C.TEN_MAY,
	--CONVERT(NUMERIC(18,2),(SUM( B.TH) / SUM(B.GPH )) * 100) AS OEE,
	--CONVERT(NUMERIC(18,2),(SUM(B.TH) /SUM(B.NPH)) * 100) AS PE,
	--CONVERT(NUMERIC(18,2),(SUM(B.EL) /SUM(B.NPH)) * 100) AS ELP,
	--CONVERT(NUMERIC(18,2),(SUM(B.ELV) /SUM(B.TH)) * 100) AS ELVP INTO #TMP
	--FROM dbo.MGetApiOEE(-1,-1,'-1',CONVERT(DATETIME,'01/01/'+ CAST(@NAM AS NVARCHAR(4))),CONVERT(DATETIME,'12/31/'+CAST(@NAM  AS NVARCHAR(4))),@USERNAME, @NNgu) B
	--INNER JOIN #MAY C ON C.MS_MAY = B.MS_MAY GROUP BY B.MS_MAY,C.TEN_MAY
	
	--SELECT T.MS_MAY,TEN_MAY,OEE,PE,EL, SpeedVar FROM (
	--SELECT MS_MAY,TEN_MAY,OEE,PE,ELP AS EL,ELVP AS SpeedVar,0 AS STT FROM  #TMP 
	--UNION	
	--SELECT '',N'TỔNG SX',
 --          CONVERT(NUMERIC(18,2),AVG(OEE)) AS OEE,
 --          CONVERT(NUMERIC(18,2),AVG(PE)) AS PE,
 --          CONVERT(NUMERIC(18,2),AVG(ELP)) AS ELP,
 --          CONVERT(NUMERIC(18,2),AVG(ELVP)) AS ELVP,1 FROM #TMP ) AS T ORDER BY T.STT,T.TEN_MAY
	--END
--END
END	





--SELECT B.MS_MAY,C.TEN_MAY,
--	CONVERT(NUMERIC(18,2),(SUM( B.TH) / SUM(B.GPH )) * 100) AS OEE,
--	CONVERT(NUMERIC(18,2),(SUM(B.TH) /SUM(B.NPH)) * 100) AS PE,
--	CONVERT(NUMERIC(18,2),(SUM(B.EL) /SUM(B.NPH)) * 100) AS ELP,
--	CONVERT(NUMERIC(18,2),(SUM(B.ELV) /SUM(B.TH)) * 100) AS ELVP 
--	FROM dbo.MGetApiOEE(-1,-1,'-1',CONVERT(DATETIME,'01/01/'+ CAST(@NAM AS NVARCHAR(4))),CONVERT(DATETIME,'12/31/'+CAST(@NAM  AS NVARCHAR(4))),@USERNAME, @NNgu) B
--	INNER JOIN #MAY C ON C.MS_MAY = B.MS_MAY GROUP BY B.MS_MAY,C.TEN_MAY
